<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LORA</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div id="titulo-home">
            <div class="titulo1">
                <h1>Redes de Computadores</h1>
            </div>
            <div class=titulo2>
                <h2>LORA e LORAWAN</h2>
            </div>
        </div>
        <nav class="menu-container" id="menu-principal">
            <ul class="menu-horizontal">
                <li><a href="#intro">Introdução</a></li>
                <li><a href="#lora">LoRa/LoRaWAN</a></li>
                <li><a href="#topologia">Topologia</a></li>
                <li><a href="#arquitetura">Arquitetura</a></li>
                <li><a href="#modulacao">Modulação</a></li>
                <li><a href="#aplicacoes">Aplicações</a></li>
                <li><a href="#outras">Outras tecnologias</a></li>
                <li><a href="#conclusao">Conclusão</a></li>
                <li><a href="#perguntas">Perguntas</a></li>
                <li><a href="#referencias">Referências</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="corpo-site">
            <div id="intro">
                <h3 id="intro">Introdução</h3>
                <p class="paragrafo-principal">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                    not only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.</p>
            </div>
            <div id="lora">
                <h3 id="lora">LoRa/LoRaWAN</h3>
                <img class="imagem-principal" src="/static/images/lora-vs-lorawan.webp" alt="Descrição da imagem">
                <p class="paragrafo-principal">Vai escrevendo.......</p>
            </div>
            <div id="topologia">
                <h3 id="topologia">Topologia</h3>
                <img class="imagem-principal" src="/static/images/lora-vs-lorawan.webp" alt="Descrição da imagem">
                <p class="paragrafo-principal">Vai escrevendo.......</p>
            </div>
            <div id="arquitetura">
                <h3 id="arquitetura">Arquitetura</h3>
                <img class="imagem-principal" src="/static/images/lora-vs-lorawan.webp" alt="Descrição da imagem">
                <p class="paragrafo-principal">Vai escrevendo.......</p>
            </div>
            <div id="modulacao">
                <h3 id="modulacao">Modulação</h3>
                <img class="imagem-principal" src="/static/images/lora-vs-lorawan.webp" alt="Descrição da imagem">
                <p class="paragrafo-principal">Vai escrevendo.......</p>
            </div>
            <div id="aplicacoes">
                <h3 id="aplicacoes">Aplicações</h3>
                <img class="imagem-principal" src="/static/images/lora-vs-lorawan.webp" alt="Descrição da imagem">
                <p class="paragrafo-principal">Vai escrevendo.......</p>
            </div>
            <div id="outras">
                <h3 id="outras">Outras Tecnologias</h3>
                <img class="imagem-principal" src="/static/images/lora-vs-lorawan.webp" alt="Descrição da imagem">
                <p class="paragrafo-principal">Vai escrevendo.......</p>
            </div>
            <div id="conclusao">
                <h3 id="conclusao">Conclusão</h3>
                <img class="imagem-principal" src="/static/images/lora-vs-lorawan.webp" alt="Descrição da imagem">
                <p class="paragrafo-principal">Vai escrevendo.......</p>
            </div>
            <div id="perguntas">
                <h3 id="perguntas">Perguntas</h3>
                <img class="imagem-principal" src="/static/images/lora-vs-lorawan.webp" alt="Descrição da imagem">
                <p class="paragrafo-principal">Vai escrevendo.......</p>
            </div>
            <div id="referencias">
                <h3 id="referencias">Referências</h3>
                <ul class="referencias-lista">
                    <li class="referencia-item">MAKERHERO. <i>O que é LoRa?</i> Disponível em: <a href="https://www.makerhero.com/blog/o-que-e-lora/">https://www.makerhero.com/blog/o-que-e-lora/</a>. Acesso em: 2 abr. 2025.</li>
                    <li class="referencia-item">LOGPYX. <i>LoRa e LoRaWAN: diferenças das tecnologias</i>. Disponível em: <a href="https://logpyx.com/lora-e-lorawan-diferencas-das-tecnologias/">https://logpyx.com/lora-e-lorawan-diferencas-das-tecnologias/</a>. Acesso em: 2 abr. 2025.</li>
                    <li class="referencia-item">THE THINGS NETWORK. <i>What are LoRa and LoRaWAN?</i> Disponível em: <a href="https://www.thethingsnetwork.org/docs/lorawan/what-is-lorawan/">https://www.thethingsnetwork.org/docs/lorawan/what-is-lorawan/</a>. Acesso em: 2 abr. 2025.</li>
                    <li class="referencia-item">SEMTECH CORPORATION. <i>LoRa® and LoRaWAN®</i>. Versão 1.0. Março de 2024. Disponível em: <a href="https://www.semtech.com/uploads/technology/LoRa/lora-and-lorawan.pdf">https://www.semtech.com/uploads/technology/LoRa/lora-and-lorawan.pdf</a>. Acesso em: 2 abr. 2025.</li>
                    <li class="referencia-item">DIGI INTERNATIONAL. <i>What Is LoRaWAN?</i> Disponível em: <a href="https://www.digi.com/solutions/by-technology/lorawan">https://www.digi.com/solutions/by-technology/lorawan</a>. Acesso em: 2 abr. 2025.</li>
                    <li class="referencia-item">MOKOSMART. <i>Quais são as diferenças entre LoRa e LoRaWAN</i>. Disponível em: <a href="https://www.mokosmart.com/lora-and-lorawan/">https://www.mokosmart.com/lora-and-lorawan/</a>. Acesso em: 2 abr. 2025.</li>
                    <li class="referencia-item">LINEMETRICS. <i>Finalmente compreensível: LoRa (e LoRaWAN) explicado de forma simples</i>. Disponível em: <a href="https://www.linemetrics.com/en/finally-understandable-lora-and-lorawan-explained-simply/">https://www.linemetrics.com/en/finally-understandable-lora-and-lorawan-explained-simply/</a>. Acesso em: 6 abr. 2025.</li>
                    <li class="referencia-item">ERTÜRK, Mehmet Ali; AYDIN, Muhammed Ali; BÜYÜKAKKAŞLAR, Muhammet Talha; EVIRGEN, Hayrettin. <i>A Survey on LoRaWAN Architecture, Protocol and Technologies</i>. Future Internet, v. 11, n. 10, p. 216, 17 out. 2019. Disponível em: <a href="https://www.mdpi.com/1999-5903/11/10/216">https://www.mdpi.com/1999-5903/11/10/216</a>. Acesso em: 6 abr. 2025.</li>
                </ul>
            </div>
        </div>
    </main>

    <button id="backToTop" title="Voltar ao topo">&#8593;</button>

    <script>
        // Obtém o botão de voltar ao topo
        const backToTopButton = document.getElementById("backToTop");

        // Quando o usuário rolar para baixo 100px, mostre o botão
        window.onscroll = function () {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backToTopButton.classList.add("visible");
            } else {
                backToTopButton.classList.remove("visible");
            }
        };

        // Quando o botão for clicado, a página rolará para o topo
        backToTopButton.onclick = function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };
    </script>

    <footer>
        <p>Desenvolvido por João Gabriel, Thales Nitatori e Juliana © 2025</p>
    </footer>
</body>

</html>